<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="top-news">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Top News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="headlines">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Headlines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sources">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Sources</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
