<ion-header>
  <ion-toolbar>
    <ion-title>sources</ion-title>
  </ion-toolbar>
  <ion-toolbar padding fixed>
     <ion-searchbar color="light" [(ngModel)]="term"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-row *ngIf="!sources">
       <ion-col size="12" *ngFor = "let sources of fakeSources">
          <ion-skeleton-text width="35%"> </ion-skeleton-text>
          <ion-skeleton-text width="70%"> </ion-skeleton-text>
          <ion-skeleton-text width="100%"> </ion-skeleton-text>
          <ion-skeleton-text width="85%"> </ion-skeleton-text>

       </ion-col>
    </ion-row>
    <ion-grid fixed>
       <ion-row *ngIf="sources">
          <ion-col size=12 size-lg=6 size-md=12 size-sm=12  *ngFor="let source of sources | search: term">
           <ion-list>
             <ion-item color="light">        
               <ion-label text-wrap>      
                 <p><ion-badge>{{source.category}}</ion-badge></p>
                 <h2>{{source.name}}</h2>                   
                <p> {{source.description}}</p>  
                 <ion-icon name="globe" slot="end"></ion-icon>
                </ion-label>   
             </ion-item>
           </ion-list> 
          </ion-col>
       </ion-row>
    </ion-grid>
   </ion-content>
