<ion-header>
  <ion-toolbar color="primary">
    <ion-title>headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
              <ion-chip class="full-width-select" *ngFor = "let category of categories"
                       (click)="onGetCategoryData(category)">
                  <ion-label class="text-label">{{ category }}</ion-label>
                </ion-chip>
          </ion-slide>

        </ion-slides>

      </ion-col>
    </ion-row>
  </ion-grid>
  <app-articles [news]="news"></app-articles>
</ion-content>
