
.full-width-select {
    width: 100%;
    background-color: #004c9a;
    display: flex;

  }

  .text-label{
    color: rgb(253, 253, 255);
    font-size: .9em;
    margin: auto;
    text-align: center;
  }