<ion-header>
  <ion-toolbar color="primary">
    <ion-title>headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide padding>
              <ion-chip color="primary"  *ngFor = "let category of categories">
                  <ion-label>{{ category }}</ion-label>
                </ion-chip>
          </ion-slide>

        </ion-slides>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
